{% extends 'highlander/base.html' %}
{% block title %}{{ activity.name }}{% endblock %}

{% block content %}
<h1>{{activity.name}}</h1>
<table class="table table-bordered">
<tr>
<td>Create by</td><td>{{activity.user_owner}}</td>
</tr>
<tr>
<td>Created on</td><td>{{activity.creation_date}}</td>
</tr>
</table>
<a href="{% url 'core:activity_update' activity.pk %}">Update</a></br>
<form method="POST" action="{% url 'core:activity_delete' activity.pk %}">
    {% csrf_token %}
    <input type="submit" class="btn btn-sm btn-danger" value="Delete"></input>
</form>
{% endblock %}}